<div style="text-align: left;">
    <h1><%= @rss_content.title %></h1>
    <h2><%= @rss_content.description %></h2>
    <h3>
        <font color="black" ><%= @rss_content.article %></font>
    </h3>
</div>